<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Hello World with Vue</title>
  </head>
  <body>

    <div id="ex1">
      <h3>Displaying a simple message</h3>
      <label>{{ message }}</label>
    </div>

    <div id="ex2">
      <h3>Show or hide an element</h3>
      <label v-if="visible">You can see me</label>
      <br>
      <label v-if="!visible">You can NOT see me</label>
    </div>

    <div id="ex3">
      <h3>Iterate in array</h3>
      <ul v-for="item in languages">
        <li>{{ item }}</li>
      </ul>
      <h3>Iterate in object properties</h3>
      <ul v-for="prop in person">
        <li>{{ prop }}</li>
      </ul>
    </div>

    <div id="ex4">
      <h3>Two way binding a variable</h3>
      <input type="text" v-model="variable">
      <br>
      <label>{{ variable }}</label>
    </div>

    <div id="ex5">
      <h3>Click actions</h3>
      <button v-on:click="add">+</button>
      <label>{{ count }}</label>
    </div>

    <br><br>

    <div id="toDoExample">
      <h3>***This is a simple ToDo list using the examples above***</h3>
      <input type="text" v-model="newToDo" v-on:keyup.enter="add">
      <button v-on:click="add">+</button>
      <table border="1" v-if="toDos.length != 0">
        <thead>
          <tr>
            <th>ID</th>
            <th>Description</th>
            <th>Remove</th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="(item,id) in toDos">
            <td>{{ id }}</td>
            <td>{{ item }}</td>
            <td>
              <button v-on:click="remove(id)">X</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="js/index.js"></script>
  </body>
</html>
